/**
 * @file
 * Zen Grids
 **/

$zen-column-count: 12;
$zen-gutter-width: 20px;

.outer {
  width: 100%;
}

.inner {
  @include zen-grid-container;
  margin: auto;
  max-width: 960px;
}

footer {
  .footer-block {
    @include breakpoint($small) {
      &.fb1 {
        @include zen-grid-item(6,1);
      }
      &.fb2 {
        @include zen-grid-item(6,7);
      }
    }
  }
}
