/**
 * @file
 * This is the styling for body items.
 */

#main {
  &.outer {}
  .inner {
    @extend %page-wrapper;
  }
  img {
    @extend %transition;
    box-sizing: border-box;
    padding: 15px;
    &.portfolio-img {
      width: 100%;
      @include breakpoint($small) {
        width: 49%;
      }
      @include breakpoint($medium) {
        width: 32.5%;
      }
    }
  }
}
