/**
 * @file
 * This is the styling for body items.
 */

#main {
  &.outer {
    background: green;
  }
  .inner {
    background: purple;
  }
  .content {
    padding: 0 10px;
  }
  .center {
    margin: 0 auto;
    max-width: 200px;
  }
  .label {
    clear: left;
    float: left;
    line-height: 1.5;
    width: 100px;
  }
}
