/**
 * @file
 * This is the styling for footer items.
 */

footer {
  &.outer {
    background: $col2;
  }
  .inner {
    background: $col2;
  }
  .content {
    padding: 0 10px;
  }
  .footer-block {
    background: $col1;
  }
}
