/**
 * @file
 * This is the styling for footer items.
 */

footer {
  &.outer {
    background: pink;
  }
  .inner {
    background: purple;
  }
  .content {
    padding: 0 10px;
  }
  .footer-block {
    background: white;
  }
}
