/**
 * @file
 * This is the styling for header items.
 */

header {
  &.outer {
    border-top: 10px solid;
  }
  .inner {
    @extend %page-wrapper;
  }
  .site-name {
    @include element-focusable;
  }
}

header {
  .logo {
    @include breakpoint($small) {
      float: left;
    }
  }
}
header {
  #nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        @extend %transition;
        box-sizing: border-box;
        display: block;
        list-style: none;
        &:focus,
        &:hover {
          background: $col2;
        }
        @include breakpoint($small) {
          display: inline-block;
          @include border-radius(10px);
        }
        @include breakpoint($medium) {
          border-bottom: 5px solid $col3;
          &:focus,
          &:hover {
            @include border-radius(0 0 10px 10px);
            border-color: $col1;
          }
        }
        a {
          @include rem(padding, 1rem);
          display: block;
          text-transform: uppercase;
          &:focus,
          &:hover {
            color: $white;
          }
        }
      }
    }
    @include breakpoint($small) {
      float: left;
    }
    @include breakpoint($medium) {
      float: right;
    }
  }
}
